.select2-container--default .select2-selection--single .select2-selection__clear {
    font-size: 1.6em;
    position: absolute;
    right: 22px;
    top: -2px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 33px;
}
